.center {
    margin-left: 45%
  }
  .container1{
    margin-left: 30%
  }
  .container2{
    margin-left: 30%
  }
  .container3{
    margin-left: 30%
  }
  .container4{
    margin-left: 30%
  }
  .container5{
    margin-left: 30%
  }
  input[type="text"],
  input[type="number"],
  select,
  textarea{
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    border: none;
  }
  